[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-environ = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
simplejson = "*"
whitenoise = "*"

[requires]
python_version = "3.6.4"
