[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 ="*"
django-environ = "*"
django-cors-headers = "*"
dj-database-url = "*"
requests = "*"
"psycopg2-binary" = "*"
simplejson = "*"
whitenoise = "*"

[requires]
python_version = "3.6.6"
