h1, h3 {
  color: #b92020;
}
.jumbotron {
  margin-top: 40px;
  text-align: center;
}
.jumbotron-text {
  line-height: 60px;
}
.nav-link {
  font-size: 18px;
}
.nav-wrapper {
  padding: 0 60px;
}
.destination-box {
  color: #b92020!important;
  font-size: 36px!important;
  width: 40%!important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #b92020;
  box-shadow: 0 1px 0 0 #b92020;
}
.search-button {
  font-size: 1.6rem!important;
}
/* #search-button {
  font-size: 1.6rem;
} */
.search-section {
  margin-top: 25px;
  text-align: center;
}
.slogan {
  color: gray;
  font-size: 18px;
  /* font-style: italic; */
}
.title {
  color : #b92020;
  font-family: 'Pacifico', cursive;
  /* font-family: 'Kaushan Script', cursive; */
  font-size: 36px!important;
}

@media only screen and (max-width: 1350px) {
  .jumbotron-text {
    font-size: 30px;
    line-height: 35px;
  }
  .title {
    font-size: 32px !important;
  }
}
@media only screen and (max-width: 732px) {
  .jumbotron-text {
    font-size: 24px;
    line-height: 28px;
  }
  .title {
    font-size: 24px!important;
  }
}
@media only screen and (max-width: 554px) {
  .jumbotron-text {
    font-size: 18px;
    line-height: 20px;
  }
  .nav-wrapper {
    padding: 0 5px;
  }
  .title {
    font-size: 24px !important;
  }
}