h1, h3, h4 {
  color: #b92020; /*rgb(169,46,39)*/
  font-family: 'Roboto',sans-serif;
}
ul.dropdown-content.select-dropdown li span {
  color: #000;
}
.button-text {
  color: white!important;
}
.destination-box {
  border-bottom: none!important;
  color: #1485CC !important;
  font-size: 54px!important;
  height: 64px!important;
}
.destination-card-name {
  color: #1485CC;
  font-weight: bold;
}
.destination-content {
  padding-top: 6px!important;
}
.destination-detail-heading {
  color: #b92020;
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
}
/* label focus color */
.input-field input[type=text]:focus+label {
  color: #1485CC;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1485CC;
  box-shadow: 0 1px 0 0 #1485CC;
}
.jumbotron {
  line-height: 150px;
  margin-bottom: 15px;
  text-align: center;
}
.jumbotron-text {
  font-weight: bold;
  margin: 15px;
}
.nav-link {
  font-size: 18px;
}
.nav-wrapper {
  padding: 0 60px;
}
.results-section {
  position: relative;
  z-index: -1;
}
#search-button {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
}
.search-section {
  margin-bottom: 40px;
  margin-top: 60px;
}
.select-label {
  color: #1485CC!important;
  font-size: 14px!important;
}
.sidenav li {
  color: black!important;
}
#signin-button {
  color: white;
  cursor: pointer;
  outline: none;
}
.submit-button {
  /* font-size: 1.6rem!important; */
  text-align: center;
}
.title {
  font-family: 'Pacifico', cursive;
  font-size: 36px!important;
}

@media only screen and (max-width: 1350px) {
  .jumbotron-text {
    font-size: 30px;
    line-height: 35px;
  }
  .title {
    font-size: 32px !important;
  }
}
@media only screen and (max-width: 732px) {
  .jumbotron-text {
    font-size: 24px;
    line-height: 28px;
  }
  .title {
    font-size: 24px!important;
  }
}
@media only screen and (max-width: 554px) {
  .jumbotron {
    margin-bottom: 0px;
  }
  .jumbotron-text {
    font-size: 26px;
    line-height: 30px;
  }
  .nav-wrapper {
    padding: 0 5px;
  }
  .search-section {
    margin-top: 45px;
  }
  .select-label {
    font-size: 11px !important;
  }
  .title {
    font-size: 24px !important;
  }
}